strict-peer-dependencies=false
auto-install-peers=true
public-hoist-pattern[]=pdfjs-dist # This is a workaround for a bug in react-pdf https://github.com/wojtekmaj/react-pdf/issues/1811, https://github.com/wojtekmaj/react-pdf/issues/1873, https://github.com/wojtekmaj/react-pdf